/* LAYOUT
 * BASE
 * Everythign Layout
 */

// ----------
// Variables 
// ----------

// Some Global Settings
$global-header-padding: 40px;
$global-hoz-padding: 20px;

// Managing the Header
$clear-haeader-bar: 70px;
.padding-top-30{ padding-top: 30px; }

// Managing the footer
$clear-footer-bar: 80px;
$footerbar-height: 70px;