/**
 * COMPONENTS
 * Button
 * All Buttons
 */

 $name: btn;

//-----------
// * BLOCK *
//-----------
.#{$name}{
    // Button
    min-width: 138.11px;
    height: 47px;
    max-width: auto;
    mix-blend-mode: normal;
    box-shadow: 0px 1px 1px rgba($black, 0.25);
    border-radius: 9px;

    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 5px;
    position: relative;
    border-radius: 7px;

    mix-blend-mode: normal;

    // Default Typestyles
    @extend %ts-3;
    line-height: 0;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03rem;

    border-width: 2px;
    border-style: solid;
    border-color: $white;

    .is-active &{
        box-shadow: none ;
        pointer-events: none;
    }

    &:hover{
        box-shadow: 0px 1px 1px rgba($black, 0);
        border-color: $brand-yellow;
    }

    // &.is-active{
    //     box-shadow: 0px 1px 1px rgba($black, 0);
    // }
}

//-----------------------
// * MODIFIER * -- sec *
//-----------------------
.#{$name}--sec{
    // Default Theme
    border-color: $brand-yellow;

    &:after{
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $light-grey;
        margin-left: rem(8);
    }

    &:hover{
      background-color: $brand-yellow;
    }
}