/**
 * COMPONENTS
 * Header Bar
 * Main Controls for the Header Bar
 */

$name: header-bar;

//--------
// BLOCK
//--------
.#{$name}{
    //Layout
    height: $footerbar-height;
    width: 100%;
    position: fixed;
    z-index: 1;

    //Avoide position jump 'glitch' as mobile browser view height adjusts with scroll. Bottom 0 wont maintain footer position accuratly.
    top: 0;
    left: 0;
    // transform: translateY(-100%);

    //Manage Contents
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;

    //Theme
    @include drop-shadow;
    background-color: $white;
}


//--------
// ELEMENT
//--------
.#{$name}__btn{
    cursor: pointer;
}
