/**
 * COMPONENTS
 * Placeholder Card
 * This allows for a quick full screen view card to establish flow within the
 */

 $name: placeholder-card;


//--------
// BLOCK
//--------

 .#{$name}{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }