/**
 * LAYOUT 
 */

// Some Global Settings
$global-header-padding: 40px;
$global-hoz-padding: 20px;

// Managing the Header
$clear-haeader-bar: 70px;
.padding-top-30{ padding-top: 30px; }

// Managing the footer
$clear-footer-bar: 80px;
$footerbar-height: 70px;


// Container for views with scrollable content
.content-view{
  width: 100%;
  min-height: 100%;
  background-color: $white;
  overflow: hidden;

  //Global padding can be located in Layout.scss - imported above
  padding: $clear-haeader-bar $global-hoz-padding 0;
}
